<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="css/spellingBeeDefault.css">
    
    <title>Quiz Results</title>
  </head>
  <body>
    <!-- Main Body of Page -->

    <div class="container">
        
        <!-- Title and Menu -->
        <div class="row m-2">
            <div class="col text-center">
                <h1><a href="/">Spelling Bee</a></h1>
            </div>
        </div>
        <div class="row m-2">
            <div class="col text-center m-2">
                <a href="takeQuiz?quizId=0" class="btn btn-outline-primary btn-lg">New Quiz</a>
            </div>
            <div class="col text-center m-2">
                <a href="history" class="btn btn-outline-primary btn-lg">Quiz History</a>
            </div>
        </div>
        
        <hr>
        
        <!-- Quiz results as text-->
        <div class="row m-2">
            <div class="col text-left h3">
                <span th:text="'Quiz #' + ${attempt.quizId}" id="quizDetailsButton">Quiz Results</span>
            </div>
        </div>
        <div id="quizDetails">
            <div class="row m-2">
                <div class="col text-left m-2">
                    <span th:text="${#temporals.format(attempt.attemptDate, 'M/d/yyyy')}">Date</span>
                </div>
            </div>
            <div class="row m-2">
                <div class="col text-left m-2">
                    <span th:text="${#numbers.formatDecimal(attempt.percentScore,0,0)}+'%'">Score</span>
                </div>
            </div>
            <div class="row m-2">
                <div class="col text-left m-2">
                    <span th:text="'Correct: ' + ${attempt.numCorrect}"># Correct</span>
                </div>
            </div>
            <div class="row m-2">
                <div class="col text-left m-2">
                    <span th:text="'Incorrect: ' + ${attempt.numIncorrect}"># Incorrect</span>
                </div>
            </div>
        </div>
        
        
        <!-- Table showing Words alongside Guesses -->
        <div class="row m-2">
            <div class="col text-center m-3">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Word</th>
                            <th>Guess</th>
                            <th>Variants</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="guess : ${guesses}" class="guessTableRow">
                            <td th:text="${guess.correctSpelling}">Word</td>
                            <td th:text="${guess.guess}" class="guessGuess">Guess</td>
                            <td th:text="${guess.wordVariantsStr}">Variants</td>
                            <td class="isCorrect" th:text="${guess.isCorrect}" hidden/>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
    </div> 
    
    <!-- End main body -->
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    <!-- Custom Javascript -->
    <script src="js/quizResult.js"></script>

  </body>
</html>