<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" 
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" 
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
          crossorigin="anonymous">

    <title>Spelling Bee Quiz</title>
  </head>
  <body>
    <!-- Main Body of Page -->

    <div class="container">
        
        <!-- Title and Menu -->
        <div class="row m-4">
            <div class="col text-center">
                <h1><a href="/">Spelling Bee</a></h1>
            </div>
        </div>
        <div class="row m-4">
            <div class="col text-center m-2">
                <a href="takeQuiz?quizId=0" class="btn btn-outline-primary btn-lg">
                    New Quiz
                </a>
            </div>
            <div class="col text-center m-2">
                <a href="history" class="btn btn-outline-primary btn-lg">
                    Quiz History
                </a>
            </div>
        </div>
        
        <hr>
        
        <!-- Quiz -->
        <div class="row m-4">
            <div class="col text-left">
                <h3 th:text="'Word #' + ${wordNumber}">Word #</h3>
            </div>
        </div> 
        <div class="row m-4">
            <div class="col-7 text-center m-3">
                <form action="submitGuess" method="POST">
                    
                    <!-- audio of word pronunciation -->
                    <div class="form-group row">
                        <label for="wordPronunciation" 
                               class="col-3 col-form-label">
                            Pronunciation</label>
                        <div class="col-9 text-left">
                            <button id="playPronunciationButton"
                                    class="btn"
                                    type="button">
                                Play
                            </button>
                            <audio id="pronunciationAudio" autoplay>
                                <source th:src="${pronunciationURL}"
                                        type="audio/mpeg">
                            </audio>
                        </div>
                    </div>
                    
                    <!-- word definition -->
                    <div class="form-group row">
                        <label for="wordDefinition" 
                               class="col-3 col-form-label">
                            Definition</label>
                        <div class="col-2 text-left">
                            <button id="playDefinitionButton"
                                    class="btn"
                                    type="button">
                                Play
                            </button>
                        </div>
                        <div class="col-7 text-left">
                            <div class="row">
                                <button id="toggleDefinitionButton" 
                                        class="btn"
                                        type="button">
                                    Show
                                </button>
                            </div>
                            <div class="row">
                                <span id="wordDefinition" name="wordDefinition"
                                      th:text="${word.definition}"
                                      style="display: none"/>
                            </div>
                        </div>
                        
                    </div>
                    
                    <!-- word used in a sentence -->
                    <div class="form-group row">
                        <label for="wordExampleHidingWord" class="col-3 col-form-label">
                            Example</label>
                        <div class="col-2 text-left">
                            <button id="playWordExampleButton"
                                    class="btn"
                                    type="button">
                                Play
                            </button>
                        </div>
                        <div class="col-7 text-left">
                            <div class="row">
                                <button id="toggleWordExampleButton"
                                        class="btn"
                                        type="button">
                                    Show
                                </button>
                            </div>
                            <div class="row">
                                <span id="wordExampleHidingWord" name="wordExampleHidingWord"
                                  th:text="${wordExampleHidingWord}"
                                  style="display: none"/>
                                <!-- Word example without hiding word (used for text-to-speech) -->
                                <span id="wordExample" name="wordExample"
                                  th:text="${word.exampleUsage}"
                                  hidden />
                            </div>
                        </div>
                    </div>
                    
                    <br>
                    
                    <!-- input for guess -->
                    <div class="form-group row">
                        <label for="guessInput" class="col-3 col-form-label">
                            Guess
                        </label>
                        <div class="col-9">
                            <input type="text" name="guessInput" id="guessInput"
                                   class="form-control" required/>
                        </div>
                    </div>
                    
                    <!-- hidden inputs so we can store the guess -->
                    <input type="hidden" name="wordId" th:value="${word.wordId}"/>
                    <input type="hidden" name="headword" th_value="${word.headword}"/>
                    <input type="hidden" name="quizId" th:value="${quizId}"/>
                    <input type="hidden" name="attemptId" th:value="${attemptId}"/>
                    
                    <!-- submit button -->
                    <button type="submit" class="btn btn-primary">OK</button>
                    
                </form>
            </div>
        </div>
    </div> 
    
    <!-- End main body -->
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    <!-- Custom Javascript -->
    <script src="js/takeQuiz.js"></script>
    
  </body>
</html>